@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #38618C;
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(to bottom, #38618C, white); */
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
}

h2, h3, h4 {
    font-weight: bold;
}
.container-fluid {
    /* padding: 2.5% 15%; */
    max-width: 900px;
    margin: 20px auto;   
}

.labels, .faces, .celebs {
    margin-top: 50px;
    background-color: #fff;
    padding: 5%;
    border-radius: 5px;
}


.myForm {
    padding-top: 50px;;
}

.content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.images {
    align-self: center;
    background-color: #38618C;
}

.one {
    display: none;
}

.img-thumbnail {
    object-fit: cover;
    width: 350px;
    height: 350px;
}